<h1>{{item.id == null ? 'Add' : 'Edit'}} Item - {{item.id}}</h1>

<form>
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Item Name" [(ngModel)]="item.name" name="name">

  <label for="description">Description</label>
  <input type="text" class="form-control" id="description" placeholder="Item Description" [(ngModel)]="item.description" name="description">
  
  <label for="raceriD">Racer</label>
  <select class="form-control" id="raceriD" name="raceriD" [(ngModel)]="item.raceriD">
    <option value="volvo">1</option>
    <option value="saab">2</option>
    <option value="mercedes">3</option>
    <option value="audi">4</option>
  </select>

  <label for="price">Price</label>
  <input type="text" class="form-control" id="price" placeholder="Price" name="price" [(ngModel)]="item.price">

  <label for="quantityInStock">Quantity In Stock</label>
  <input type="text" class="form-control" id="quantityInStock" placeholder="Quantity In Stock" name="quantityInStock" [(ngModel)]="item.quantityInStock">

  <label for="shippingInformation">Shipping Information</label>
  <input type="text" class="form-control" id="shippingInformation" placeholder="Shipping Information" name="shippingInformation" [(ngModel)]="item.shippingInformation">

  <div class="form-group" *ngIf="item.id == null">
    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
  </div>

  <br><br>

  <button type="button" class="btn btn-success" (click)="saveItem()">Save Item</button>
</form>