<div class="itemDetails">
    <h1>Item Details</h1>

    <table>
        <tr>
            <td>Id</td>
            <td>{{item.id}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{item.name}}</td>
        </tr>
        <tr>
            <td>Racer ID</td>
            <td>{{item.raceriD}}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>{{item.price}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{item.description}}</td>
        </tr>
        <tr>
            <td>Racer ID</td>
            <td>{{item.raceriD}}</td>
        </tr>
        <tr>
            <td>Shipping information</td>
            <td>{{item.shippingInformation}}</td>
        </tr>
        <tr>
            <td>Quantity in stock</td>
            <td>{{item.quantityInStock}}</td>
        </tr>
    </table>
    <br>
    <img src="{{item.retrievedImage}}" height="200" width="200">
    <br><br>
    
    <a class="btn btn-small btn-warning" (click)="editItem()">edit</a>
    <a class="btn btn-small btn-danger" (click)="deleteItem()">delete</a>
</div>