<div id="app">
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">F1Shop </a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item dropdown" *ngIf="showAdminBoard">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" >
              Admin Board
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="/admin/users" class="dropdown-item">Manage Users</a>
              <a routerLink="/admin/items" class="dropdown-item">Manage Items</a>
              <a routerLink="/admin/racers" class="dropdown-item">Manage Racers</a>
          </div>
      </li>
        <li>
          <a href="/shop" class="nav-link" *ngIf="isLoggedIn" routerLink="shop">Shop</a>
        </li>
        <li>
          <a href="/racers" class="nav-link" *ngIf="isLoggedIn" routerLink="racers">Racer List</a>
        </li>
        <li>
          <a href="/items" class="nav-link" *ngIf="isLoggedIn" routerLink="items">Item List</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body>
  </div>
