<div class="container">
  <header class="jumbotron">
    <p class="header"> Welcome to Formula 1 online shop!</p>
    <div fxLayout="column" fxLayoutGap="20px" fxLayout.xs="row">
    <img src="https://i-viaplay-com.akamaized.net/viaplay-prod/284/804/B23rNH_pgbBUqjfUJWpCsKNv9Mh24b1J__hero__xx__cb46b2ae343581337dce7730928ec8454a09dc6e26fde0a4f40d4f569565fab8.png?width=1600&height=900" alt="Jeans" style="width:100%">
    <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2021manual/2021AbuDhabiGPmanualadds/Build-up/GettyImages-1309594768.jpg.transform/9col/image.jpg" alt="Jeans" style="width:100%">  
  </div>
    </header>
</div>
